<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
    <script src="/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
      function deleteSpeaker(ID,object){
        console.log(object);

        $.ajax({

          url:"http://localhost:8082/speakers/delete/"+ID,
          method:"POST",
          contentType:"application/json",
          data:JSON.stringify({_id:ID}),
          dataType:"text",
          success:function(result){
            $(object).parents("tr").remove();
          },
          error:function(error){
            console.log(error+"");
          }
        })

      }
    </script>
</head>
<body>
<%- include('../partials/speaker_navbar') %>
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">firstName</th>
        <th scope="col">lastName</th>
       <th scope="col">userName</th>
       <th scope="col">userPassword</th>
        <th scope="col">city</th>
        <th scope="col">street</th>
        <th scope="col">building</th>
      </tr>
    </thead>
    <tbody>

        <% speakerData.forEach(function(speaker) { %>
            <tr>
                <th scope="row"> <%= speaker._id %> </th>
                  <td><%= speaker.FullName.firstName %></td>
                  <td><%=speaker.FullName.lastName %></td> 
                  <td><%= speaker.UserName %></td>  
                  <td><%= speaker.UserPassword %></td>  
                  <td><%=speaker.Address.city%></td>
                  <td><%=speaker.Address.street%></td>
                  <td><%=speaker.Address.building%></td>
                  
              <td>  
                  <a href="editProfile/<%=speaker._id%>" class="btn btn-primary">Edit</a>
              </td>
             
            </tr>
        <% }); %>
  
    </tbody>
  </table>
</html>